<main class="px-4 py-3 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <div class="transition-colors duration-200 dark:text-white">
      {@inner_content}
    </div>
  </div>
</main>