<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Talent" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <div class="z-10 fixed top-0 left-0 right-0 flex items-center justify-between px-4 sm:px-6 lg:px-8 pt-3 bg-white">
      <a href="/">
        <div class="flex items-center gap-2">
          <img src={~p"/images/logo.svg"} width="36" />
          <span class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold">Inicio</span>
        </div>
      </a>
      <ul class="flex items-center gap-4">
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6 text-gray-400">
            {@current_user.email}
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
            <.svgicon name="settings" class="w-6 h-6 inline-block text-sky-800" title="Configuración" tooltip_class="bg-gray-800 text-white top-8 -translate-x-50" />
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              <.svgicon name="log-out" class="w-6 h-6 inline-block text-rose-800" title="Cerrar sesión" tooltip_class="bg-gray-800 text-white top-8 -right-15" />
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Registrarse
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Iniciar sesión
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mt-20">
      {@inner_content}
    </div>
  </body>
</html>
